---
export function getStaticPaths() {
  return [
    {params: {tag: "astro"}},
    {params: {tag: "javascript"}},
    {params: {tag: "php"}},
  ]
}

const {tag} = Astro.params
const allPosts = await Astro.glob("../blog/*.md")
const filteredPosts = allPosts.filter((post) => post.frontmatter.tags?.includes(tag))
---


<html>
  <h1>タグ：{tag}</h1>
  <ul>
    {filteredPosts.map((post) =>
      <li><a href={post.url}>{post.frontmatter.title}</a></li>
    )}
  </ul>
</html>